<tr>
  <td align="center" style="padding: 30px 0; background-color: #000000; color: #ffffff">
    <span style="font-size: 20px; font-family: Arial, Helvetica, sans-serif;">&copy; Dualboot Learn 2020</span>
  </td>
</tr>
