<tr>
  <td align="center" style="padding: 20px 0; background-color: #ffffff; height: 30vh;">
    <span style="font-size: 20px; font-family:Arial, Helvetica, sans-serif;">Name: <%= @task.name %></span>
  </td>
</tr>
